img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
html{
  scroll-behavior: smooth;
}
.choose__container {
  justify-content: center;
  padding-top: 50px;
}
.ptb--200{
  padding: 160px 0;
}
.pt-10{
  padding-top: 10px;
}
.modal-body .single-checkout-box {
  overflow: hidden;
}
.modal-body .single-checkout-box select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/icons/select-option.png") no-repeat scroll 90% 14px / 11px 9px;
  border: 1px solid #c1c1c1;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  width: 90%;
}
.single-checkout-box input[type="file"] {
  line-height: 30px;
}
.hd__title {
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 767px){
  .single-checkout-box input[type="file"] {
    width: 100%;
  }
  .slider__content h1{
    padding-top: 50px;
    font-size: 30px;
    font-weight: 500;
  }
  .slider__content h2{
    font-size: 24px;
  }
  .bradcaump__inner{
    padding-top: 100px;
  }
  .ht__bradcaump__wrap{
    height: 250px;
  }
  .contact__details p{
    font-size: 14px;
  }
  .product__list .col-sm-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  section.ptb--210{
    padding: 0 0 80px 0;
  }
}
.product__details h2{
  font-size: 20px;
}
.product__price li{
  font-size: 14px;
}
.single__tabs__panel .login select.business__location{
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) url(../images/icons/select-option.png) no-repeat scroll 96% 14px / 11px 9px;
  line-height: 40px;
  margin: 40px 0 30px;
  border-color: currentcolor currentcolor #8e8e8e;
  border-image: none;
  border-style: none none solid;
  cursor: pointer;
  color: #686868;
  padding-left: 15px;
}
.modal-body h3{
  margin: 0 25px;
  padding-top: 15px;
}
.pro__detl__title p{
  padding-top: 8px;
}
.filter__menu__container{
  justify-content: center;
}
.single__tabs__panel p{
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 450;
}
.section__title--2{
  padding-bottom: 40px;
}
.section__title--2 p{
  margin: 20px auto auto;
}
.login textarea{
  background-color: transparent;
  border-color: currentcolor currentcolor #8e8e8e;
  font-size: 16px;
  color: #686868;
  margin: 40px 0px 20px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-image: none;
}
.search__keyword p{
  font-size: 14px;
}
.search__bar{
  margin-top: 48px;
}
.search--status img{
  width: 30%;
  margin-bottom: 10px;
}
.search--bar{
  width: 50%;
  border-radius: 4px;
  border: 1px solid #efefee;
  padding: 9px 16px;
  font-family: inherit;
  font-size: 13px;
  transition: border-color .3s;
}
.search__bar input[type="search"]{
  margin-bottom: 48px;
}